#back_to_list_overview {
    background-color: #FAF9F8;
    border-bottom: solid 1px #E0EBF4;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-decoration: none;
    padding-block: 1rem;
    width: 100%;
    padding-inline: 1rem;
    position: fixed;
    top: 5rem;
}
#back_to_list_overview:hover {
    background-color: #E0EBF4;
}
#back_to_list_overview:active {
    opacity: 75%;
}
#back_to_list_overview > p {
    text-decoration: none;
    color: #12419F;
    text-decoration-line: none;
}
main {
    padding: 5rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form_wrapper {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid 1px #D0D9EC;
    border-radius: 15px;
    padding: .5rem .5rem .5rem .4rem;
    justify-content: space-between;
}
#form_wrapper > #new-item {
    border: none;
    font-family: 'Basic Sans', sans-serif;
    color: #12419F;
}

#form_wrapper > #new-item:focus-within {
    outline: none;
}
#form_wrapper > #new-item::placeholder {
    font-family: 'Basic Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #7996CA;
}
#title-container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* List title */

#list-title {
    margin: 0;
}
#title-container > #submit_button {
    display: flex;
    flex-direction: row;
    column-gap: .7rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#title-container > #submit_button > #edit_icon {
    width: .7rem;
}
  
#edit-title-input {
    display: flex;
    font-family: 'Basic Sans', sans-serif;
    font-weight: 400;
    color: #12419F;
    margin: 0;
    font-size: 1rem;
    background-color: white;
    border: solid 1px #E0EBF4;
    border-radius: 15px;
}
#edit-title-input:focus-within {
    outline: solid 1px #12419F;
}
  
#edit-title-btn {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
}

  
  
form {
    display: flex;
    margin-bottom: 1rem;
}
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #12419F;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
#list-Item {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    margin-bottom: 1rem;
    background-color: #E0EBF4;
    padding: 1rem 1.2rem;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Basic Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #12419F;

}
  
  .delete-btn, .edit-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-btn:hover, .edit-btn:hover {
    background-color: #d32f2f;
  }
  
  .edit-input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    color: #12419F;
    font-family: 'Basic Sans', sans-serif;
    background-color: white
    ;
  }
  .item {
    background-color: #E0EBF4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 39px;
    border-radius: 15px;
  }
  .item:active {
    text-decoration: line-through #12419F;
  }
  .item:hover {
    opacity: 75%;
    cursor: pointer;
  }
  .item > .left_content > .check-button_active > #check_button_active {
    display: none;
  }
  .item > .left_content {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: center;
  }
  .item > .left_content > p {
    font-family: 'Basic Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #12419F;
  }
  .item > .right_content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .item > .right_content > button {
    border: none;
    background-color: transparent;

  }